@import url("../../../styles.scss");
.modal-body {
background-color: var(--body-color-white);
}
.modal-footer {
  background-color: var(--navbar-color);
}
.modal-header {
  background-color: var(--navbar-color);
}
.modal-title {
  color: var(--text-color)
}
.icon {
  color:var(--icon-color);
}


