@import url("../../../styles.scss");
.bg-modal-content-color {
background-color: var(--body-color-white);
}

.bg-modal-footer {
  background-color: var(--navbar-color);
}
.bg-modal-header {
  background-color: var(--navbar-color);
}

.bg-modal-title-color {
  color: var(--text-color)
}
.icon {
  color:var(--icon-color);
}


