.bg-modal-content-color {
  background-image: linear-gradient(
    to bottom,
    #051937,
    #3b2158,
    #7e1163,
    #bc0050,
    #e31922
  );
}

.bg-modal-footer {
  background-color: #ec407a;
}
.bg-modal-title-color {
  color: #e31922;
}
