<div class="row" *ngIf="user">
  <div class="col-3 d-flex align-items-center">
    <img
      src="{{ user.avatar }}"
      alt="Mike Anamendolla"
      class="rounded-circle align-content-center h-25 d-inline-block"
    />
  </div>
  <div class="col-6 d-flex justify-content-start align-items-center">
    <div>
      <fa-icon
        [icon]="faUser"
        size="sm"
        style="color:#e31922;"
        class="p-2"
      ></fa-icon>
      <label class="name lead " style="color:#e31922;">{{ user.name }}</label>
      <br />
      <fa-icon
        [icon]="faPhoneAlt"
        size="sm"
        style="color:#e31922;"
        class="p-2"
      ></fa-icon>
      <span class=" small" style="color:#e31922;">{{ user.phone }}</span>
      <br />
      <fa-icon
        [icon]="faEnvelope"
        size="sm"
        style="color:#e31922;"
        class="p-2"
      ></fa-icon>
      <span class=" small text-truncate" style="color:#e31922;">{{
        user.email
      }}</span>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-end align-items-center">
    <div>
      <app-update-user [user]="user"></app-update-user>
      <app-delete-user [user]="user"></app-delete-user>
    </div>
  </div>
</div>
