<div
  class="d-flex align-content-center justify-content-center pt-5 mt-5 pb-5 mb-5 bg-content"
>
  <div class="w-75">
    <ul class="list-group d-block" id="contact-list">
      <li
        class="list-group-flush p-1 rounded bg-li m-1"
        *ngFor="let user of users"
      >
        <div class="row">
          <div class="col-3 d-flex align-items-center">
            <img
              src="{{ user.avatar }}"
              alt="Mike Anamendolla"
              class="rounded-circle align-content-center h-25 d-inline-block"
            />
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center">
            <div>
              <fa-icon
                [icon]="faUser"
                size="sm"
                style="color:#cddc39;"
                class="p-2"
              ></fa-icon>
              <label class="name lead text-warning"
                >{{ user.name }}&nbsp;{{ user.surname }}</label
              >
              <br />
              <fa-icon
                [icon]="faMapMarkerAlt"
                size="sm"
                style="color:#cddc39;"
                class="p-2"
              ></fa-icon>
              <span class="text-warning">5842 Hillcrest Rd</span>
              <br />
              <fa-icon
                [icon]="faPhoneAlt"
                size="sm"
                style="color:#cddc39;"
                class="p-2"
              ></fa-icon>
              <span class=" small text-warning">(870) 288-4149</span>
              <br />
              <fa-icon
                [icon]="faEnvelope"
                size="sm"
                style="color:#cddc39;"
                class="p-2"
              ></fa-icon>
              <span class=" small text-truncate text-warning"
                >mike.ana@example.com</span
              >
            </div>
          </div>
          <div class="col-3 d-flex justify-content-around align-items-center">
            <div>
              <app-update-user></app-update-user>
              <button
                type="button"
                class="btn btn-secondary m-1"
                data-toggle="tooltip"
                data-placement="right"
                title="Share"
              >
                <fa-icon
                  [icon]="faShareAlt"
                  size="sm"
                  style="color:#cddc39;"
                ></fa-icon>
              </button>
              <app-delete-user></app-delete-user>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
