<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete User!</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Contact will be deleted...</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-info"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Confirm
    </button>
  </div>
</ng-template>
<button
  (click)="open(content)"
  type="button"
  class="btn btn-outline-danger m-1"
  data-toggle="tooltip"
  data-placement="right"
  title="Delete"
>
  <fa-icon [icon]="faTrash" size="sm" style="color:#e31922;"></fa-icon>
</button>
