<ng-template #content let-modal>
  <div class="modal-header" style="background-color: #051937;">
    <h4 class="modal-title" style="color: #e31922;" id="modal-basic-title">
      Delete User!
    </h4>
  </div>
  <div class="modal-body bg-content">
    <form>
      <div class="form-group">
        <label style="color:white;">Contact will be deleted...</label>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="background-color: #ec407a;">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.dismiss('Cancelled')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Confirm
    </button>
  </div>
</ng-template>
<button
  (click)="open(content)"
  type="button"
  class="btn btn-outline-danger m-1"
  data-toggle="tooltip"
  data-placement="right"
  title="Delete"
>
  <fa-icon [icon]="faTrash" size="sm" style="color:#e31922;"></fa-icon>
</button>
