<nav class="navbar fixed-top bg-nav">
  <a style="color:#ec407a;">
    <fa-icon
      [icon]="faMobileAlt"
      size="3x"
      style="color:#ec407a;padding-right: 10px;"
    ></fa-icon>
    <span style="font-weight:bold">S</span>mart
    <span style="font-weight:bold">C</span>ontact
  </a>

  <div class="form-inline">
    <input
      style="background-color:#f48fb1;"
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </div>
</nav>

<nav
  class="navbar fixed-bottom bg-tab d-flex justify-content-center align-items-center"
>
  <button type="button" class="btn btn-outline-success">
    <fa-icon [icon]="faUserPlus" size="3x" style="color:#ec407a;"></fa-icon>
  </button>
</nav>
