<div >
  <nav class="navbar fixed-top bg-nav p-2">
    <a class="text">
      <fa-icon
        [icon]="faMobileAlt"
        size="2x"
        class="p-2 icon"
      ></fa-icon>
      <span style="font-weight:bold;font-size: x-large;" class="text">S</span><i  class="text">mart</i>
      <span style="font-weight:bold;font-size: x-large;padding-left: 5px;"
      class="text">C</span
      ><i  class="text">ontact</i>
    </a>

    <div class="form-inline">
      <input
        class="form-control search mr-sm-2 "
        type="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchTerm"
      />
    </div>
  </nav>
  <div class="p-5 pt-5 mb-5">
    <ul class="list-group d-block" id="contact-list">
      <li
        class="list-group-flush p-1 rounded bg-li m-1"
        *ngFor="let user of users | filter: searchTerm"
      >
        <app-user [user]="user" [attr.id]="user.id"></app-user>
      </li>
    </ul>
  </div>
  <nav
    class="navbar fixed-bottom bg-tab d-flex justify-content-center align-items-center"
  >
    <app-add-user (isNewUser)="isNewUser($event)"></app-add-user>
  </nav>
</div>
