@import url("../../../../styles.scss");
.bg-nav {
  background-color:var(--navbar-color);
}
.bg-tab {
  background-color:var(--navbar-color);
}
.bg-li {
  background-color:var(--usercomponent-color);
}
.text{
  color: var(--text-color);
}
.icon{
  color: var(--icon-color);
}
.search{
  background-color: var(--search-color);
}

